.chat-header{
    height: 8%;
    border: 2px solid black;
    background-color: rgb(250, 248, 244);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.user-info{
    display: flex;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    width: 90%;
}

.exit-chat{
    display: flex;
    float: right;
    width: 5%;
    justify-content: center;
    background-color: rgb(250, 248, 244);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    cursor: pointer;
}
.exit-chat:hover{
     background-color: rgb(225, 222, 215);
}

.chat-box{
    margin-top: 2vh;
    height: 80%;
    overflow-y: auto;
    padding-right: 12px;
    scrollbar-width: thin;
    scrollbar-color: #1890ff #f0f0f0;
}
.chat-input{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.user-side{
    display: flex;
    float: right;

    margin-right: 5vw;
}

.message-send{
    border: 2px solid rgb(177, 183, 141);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

    background-color: beige;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin: 2vh 0;
    padding: 1vh;
}

.image-send{
    height: 20vh;
}

