@import "tailwindcss";
@plugin "daisyui" {
  themes: cupcake --default
}


/*=======================Sign Up,Login page*================*/
.left-side{
    display: grid;
    align-items: center;
    height: 100vh;

   
}
.right-side{
    border: 5px solid rgb(122, 103, 103);
    border-radius: 20px;
    display: grid;
    padding: 10vh;
    margin-left: 5vw;
    background-color: rgb(241, 152, 20);
}
.form{
    border: 5px solid rgb(122, 103, 103);
    border-radius: 20px;
    display: grid;
    padding: 10vh;
    margin-left: 5vw;
    background-color: rgb(241, 152, 20);
    
   
}

/*====================Profile Page */

.profile{
    margin-top: 5vh;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: rgb(185, 164, 164);
}

.profile-info{
    font-size: 20px;
}

.upload-profile-image{
    justify-content: center;
    align-items: center;
    display: flex;
}

.preview-user-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.update-image{
    border-radius: 5px;
}

.update-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    
}




/*================ Home Page ==================*/
.chat-layout{
    display: flex;
    border: 2px solid black;
    height: 100vh;
}

.user-chat{
    border: 2px solid;
    width: 25%;
    height: 80vh;
    overflow-y: auto;
    padding-right: 12px;
    scrollbar-width: thin;
    scrollbar-color: #1890ff #f0f0f0;
   
}
.chat-form{
    border: 2px solid;
    width: 75%;
    height: 80vh;
}
.message-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  resize: vertical;
  font-size: 14px;
}

.send-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #1890ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  float: right;
}

.send-button:hover {
  background-color: #40a9ff;
}
